[Desktop Entry]
Type=Application
Name=PS2 HDD Manager
Comment=Prepare and manage PlayStation 2 APA/PFS hard drives
Exec=PS2-HDD-Manager
Icon=drive-harddisk
Terminal=false
Categories=Utility;System;FileTools;
